header .logo {
    display: flex;
    margin: 20px 40px;
}
header .container {
    justify-content: center;
    align-items: center;
}

.social-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-header img {
    margin-right: 10px;
}
.divider-full p a {
    color: #fff;
}
.main-banner {
    background: url(../img/bg-banner.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin-bottom: 80px;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 30px 21px #000000; 
    box-shadow: inset 0px 0px 30px 10px #000000;
}
.banner-items {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}
.logo-banner {
    display: flex;
    flex: 1;
}
.phone-banner {
    display: flex;
    flex: 1;
}
.about-ale{
    margin-bottom: 50px;
}
.about-ale-title h1, .about-curso-text h2, .how-it-works h2, .learn h2, .bonus h2, .others-title h2, .others-text h2, .extra-title h2, .more-title h2, .curso h2, .why-title h2{
    font-family: 'Nomark', 'Montserrat', sans-serif;
    font-size: 56px;
    margin: 0 0 35px;
}

.learn h2, .bonus h2{
    color: #fff;
}

.about-ale .container, .how-it-works .container{
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.about-ale-title, .about-ale-video {
    max-width: 675px;width: 100%;
}
.about-ale-video {
    margin-bottom: 45px;
}

.about-curso {
    padding: 50px 0;
    background: #f1bbb8;
}
.about-ale-text p, .about-curso-text p, .how-it-works p, .others-text p, .text p, .why-text p {
    font-size: 16px;
    font-weight: 100;
    line-height: 32px;
    text-align: justify;
    font-weight: 500;
    margin: 0;
}
.about-curso-text h2 {
    text-align: center;
    max-width: 360px;
}

.about-curso-text p {
    max-width: 360px;
}

.about-curso-text {
    display: flex;
    flex: 1;
    flex-flow: column;
}

.about-curso-img {
    display: flex;
    flex: 1;
}

.about-curso .container {
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.divider{
    height: 15px;
    width: 100%;
    background: rgb(248,174,174);
    background: linear-gradient(90deg, rgba(248,174,174,1) 0%, rgba(252,226,227,1) 35%, rgba(163,78,68,1) 69%, rgba(216,139,133,1) 95%);
}
.how-it-works {
    margin: 50px 0 80px;
}
.how-it-works h2, .others-title h2 {
    padding: 0 0 35px;
    margin: 0;
    text-align: center;
}
.how-it-works h2::after {
    content: '';
    display: block;
    height: 5px;
    width: 215px;
    border-radius: 5px;
    background: #f1bbb8;
    margin: 15px auto 0;
}
.hiw-img img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.how-it-works p {
    max-width: 580px;
    margin: 0 auto 35px;
    text-align: center;
}
.learn {
    background: #d86161;
    padding: 50px 0;
}

.learn-title h2 {
    margin: 0;
    text-align: center;
}

.learn-title {
    margin-bottom: 40px;
}
.list ul {
    padding: 0;
    margin: 0;
}

.list ul li, .others-list ul li {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin: 15px 0;
    list-style: none;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    height: 55px;
    width: 100%;
    align-items: center;
}

.list ul li div, .others-list ul li div {
    display: flex;
}
.learn .container {justify-content: space-between;}

.list {
    display: flex;
}
.list-img {
    margin-right: 20px;
}
.bonus {
    background: #e79992;
    padding: 35px 0 70px;
}

.bonus-text .bonus-text {
    display: flex;
    flex-flow: column;
}

.bonus h2 {
    display: flex;
    margin: 0;
}

.bonus p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 40px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
}

.bonus-text {
    display: flex;
}
.divider-full {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    max-width: 580px;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: -25px;
    display: flex;
    padding: 5px 10px;
    margin-bottom: 30px;
    position: relative;
}
.divider-full.medium{
    background: #d86161;
}

.divider-full p {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.divider-full p:before {
    display: flex;
    content: '';
    background: url('../img/symbol.png');
    width: 35px;
    height: 42px;
    background-size: contain;
    margin-right: 20px;
    margin: 2px 20px 2px 0;
    background-repeat: no-repeat;
}
.others{
    margin-top: 80px;
}
.others-title h2::after {
    content: '';
    display: block;
    height: 5px;
    width: 215px;
    border-radius: 5px;
    background: #d86161;
    margin: 15px auto 0;
}
.others-content {
    display: flex;
    background: #fcdddd;
    padding: 100px 15px;
    flex-flow: column;
    position: relative;
}

.others-text, .others-list {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.others-list {
    display: flex;
    flex-flow: column;
    /* flex: 1.5; */
    justify-content: space-evenly;
    background: #d86161;
    padding: 0 75px;
}

.others-text h2 {
    color: #d86161;
    max-width: 330px;
    display: flex;
    margin-bottom: 40px;
}

.others-text {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 60px;
}

.others-list h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
}

.others-list ul {
    margin: 0;
    padding: 0;
}
.others-text p {
    max-width: 360px;
    text-align: center;
}
.others-extra {
    display: flex;
    flex-flow: column;
    margin-top: 70px;
}

.others-extra .container {
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.extra-title h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 664px;
    text-align: center;
}

.extra-title {
    display: flex;
    justify-content: center;
    align-content: center;
}

.others-extra ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.extra-items {
    display: flex;
    width: 100%;
}

.others-extra ul li {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    text-align: center;
    justify-content: center;
}

.more {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #d86161;
    color: #fff;
    padding: 40px 70px 60px;
    flex: 1;
    width: 100%;
    margin-top: 50px;
}

.others-extra ul li:before {height: 8px;width: 8px;display: block;background: #000;border-radius: 8px;position: absolute;top: calc(50% - 4px);left: -40%;}

.extra-items ul li:before {
    left: -70%;
}

.others-extra .extra-items ul {
    /* max-width: 665px; */
    width: 100%;
}

.others-extra ul li:before {content: '';}

.others-extra ul li:first-child:before {
    content: unset;
}

.more-title h2 {margin-bottom: 60px;}

.more-items {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.others-extra .more-items ul li:before {
    background: #fff;
    left: -50%;
}
.inlcude h3 {
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.inlcude {
    display: flex;
    flex-flow: column;
}
.curso .container {
    flex-flow: column;
}

.curso h2 {
    text-align: center;
    margin: 60px 0;
    color: #d86161;
}

.text p {
    width: 770px;
    margin: 0 auto 60px;
    text-align: center;
}

.slide{
    margin: 0 5px;
}
.slide img{
    margin: 0 auto;
}

.container.carroussel {
    max-width: 100%;
}
.divider-full.light {
    margin-top: 50px;
    background: #e79992;
    margin-bottom: 50px;
}

.why {
    padding: 60px 0;
}

.why-title h2 {
    text-align: center;
    max-width: 760px;
}

.why-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.why-text p {
    padding-right: 30px;
}
.why-text p strong {
    text-transform: uppercase;
    font-weight: bold;
}

.newsletter{
    position: relative;
}
.newsletter .container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.newsletter {
    margin-top: 60px;
    padding: 70px 0 50px;
}
footer{
    background: rgb(39,39,39);
    background: linear-gradient(0deg, rgba(39,39,39,1) 0%, rgba(0,0,0,1) 100%);
}
.final .container {
    justify-content: space-between;
    align-items: center;
}

.final {
    padding-bottom: 45px;
}

.contact h3 {
    color: #d86161;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 22px;
}

.contact p {
    color: #d6d6d6;
}

.socials p:first-child {
    border: 2px solid #d86161;
    font-size: 14px;
    color: #d6d6d6;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;

}
.socials p:first-child:before {
    content: '';
    width: 24px;
    height: 23px;
    background: url(../img/insta.png);
    background-size: cover;
    display: block;
    margin-right: 20px;
}
.socials p {
    font-size: 14px;
    color: #d6d6d6;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
}

.socials p a {
    color: #d6d6d6;
}

.newsletter-text {
    color: #fff;
    text-align: center;
    display: flex;
    flex-flow: column;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

.newsletter-text h2 {
    color: #f1bbb8;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}

.newsletter-text h2 span {
    font-weight: bold;
    color: #d86161;
}

.newsletter-text h2:after {content: '';height: 2px;width: 175px;display: block;background: #9095a6;position: absolute;bottom: -20px;left: calc(50% - 87px);}

.newsletter-text p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin: 25px 0 35px;
}

.newsletter-form {
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

.newsletter-form input[type="text"] {
    border: none;
    background: #fff;
    padding: 15px 20px;
    display: flex;
    border-radius: 4px;
    font-size: 12px;
    max-width: 430px;
    width: 430px;
    flex: 1;
}

.newsletter-form input[type="submit"] {
    display: flex;
    margin-left: 20px;
    background: #d86161;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 15px 40px;
    font-weight: bold;
    letter-spacing: 1px;
}

form {
    display: flex;
}
img.arco {
    position: absolute;
    max-height: 143px;
}
img.arco-top{
    top: -142px;
}
img.arco-right{
    right: 0;
}

img.arco-left{
    left: 0;
    transform: scaleX(-1);
}
img.arco-bottom.arco-right {
    bottom: -140px;
    transform: scaleY(-1);
}

img.arco-bottom.arco-left {
    bottom: -140px;
    transform: scaleX(-1) scaleY(-1);
}
img.arco.arco-top.arco-left.flip {
    transform: scaleX(-1) scaleY(-1);
    top: -1px;
}

img.arco.arco-top.arco-right.flip {
    transform: scaleY(-1);
}

.newsletter img.arco.arco-top.arco-right.flip {
    top: -1px;
}
.main-banner img.arco.arco-top.arco-right {
    top: -142px;
    transform: scaleY(1);
}

.main-banner img.arco.arco-top.arco-left.flip {
    top: -142px;
    transform: scaleY(1) scaleX(-1);
}
.divider-full {
    transition: 0.5s transform ease, 0.5s box-shadow ease;
}


.divider-full:hover {
    transform: scale(1.1);
}
.divider.big {
    height: 35px;
}
.main-banner:before {content: '';height: 3px;width: 100%;display: block;background: #000;position: absolute;top: -1px;z-index: 10000;}
.main-banner:after   {
    content: '';
    height: 3px;
    width: 100%;
    display: block;
    background: #000;
    position: absolute;
    bottom: 0px;
    z-index: 10000;
}
.grow{
    transition: 0.5s transform ease, 0.5s box-shadow ease;
}
.grow:hover{
    transform: scale(1.1);
}
@media only screen and (max-width:768px){
    header .logo img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .logo {
        margin: 0;
    }
    header .logo {
        margin: 20px auto;
        text-align: center;
    }
    .arco {
        display: none;
    }
    header .logo img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    .logo {
        margin: 0;
    }
    
    .arco {
        display: none;
    }
    
    header .logo {
        margin: 20px auto;
    }
    
    .banner-items {
        flex-flow: column;
    }
    
    .logo-banner {
        margin-top: 40px;
        order: 2;
        padding: 0 15px;
    }
    .logo-banner img {
        max-width: 100%;
    }
    .main-banner {
        margin-bottom: 40px;
    }
    
    .about-ale-title {
        text-align: center;
    }
    
    .about-ale-text {
        padding: 0 15px;
    }
    
    .about-curso .container {
        flex-flow: column;
    }
    
    .about-curso-text h2 {
        max-width: 100%;
    }
    
    .about-curso-text p {
        max-width: 100%;
    }
    
    .about-curso-text {
        padding: 0 15px;
    }
    
    .hiw-title {
        padding: 0 15px;
    }
    
    .learn {
        padding: 50px 15px;
    }
    
    .bonus {
        padding: 35px 15px 70px;
    }
    
    .divider-full {margin: -25px 15px 0;padding: 15px 0;}
    
    .others-content {
        padding: 50px 15px;
    }
    
    .others-text {
        margin: 0;
    }
    
    .others-text h2 {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .others-text p {
        max-width: 100%;
        margin-bottom: 30px;
    }
    
    .others-list ul li {
        line-height: 20px;
        height: auto;
    }
    
    .others-list {
        padding: 40px;
    }
    
    .others-extra ul li:before {
        content: unset;
    }
    
    .others-extra ul {
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: center;
        text-align: center;
    }
    
    .more {
        width: auto;
        padding: 45px;
    }
    
    .more-title h2 {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .more-items {
        flex-wrap: wrap;
    }
    
    .others-extra ul li {
        margin: 0 auto 15px;
        max-width: 300px;
    }
    
    .curso h2 {
        margin: 40px 0;
    }
    
    .divider-full p {
        flex-flow: column;
        line-height: 24px;
    }
    
    .divider-full p:before {
        margin: 5px 0;
    }
    
    .text p {
        max-width: 770px;
        width: 100%;
        padding: 0 15px;
    }
    
    .text {
        display: flex;
    }
    
    .about-ale-title h1, .about-curso-text h2, .how-it-works h2, .learn h2, .bonus h2, .others-title h2, .others-text h2, .extra-title h2, .more-title h2, .curso h2, .why-title h2 {
        font-size: 42px;
    }
    
    .why-title h2 {
        margin-bottom: 20px;
    }
    
    .why-text p {
        padding: 0 15px;
    }
    
    .why-img img {
        max-width: 100%;
        height: auto;
    }
    
    .newsletter-text p {
        padding: 0 15px;
    }
    
    .newsletter-form input[type="text"] {
        width: 100%;
    }
    
    .newsletter-form input[type="button"] {
        max-width: 90px;
        padding: 0 15px;
    }
    
    .newsletter {
        padding: 50px 0 50px;
    }
    .container {
        flex-flow: column;
        padding: 0;
        display: block;
    }
    .about-ale-video iframe {
        width: 100%;
        height: 400px;
        padding: 0;
    }
    .final{
        text-align: center;
        padding: 0 15px 45px;
    }
    .bonus-text {
        flex-flow: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .bonus p {
        margin: 0;
    }
    
    .bonus h2 {
        margin-bottom: 10px;
    }
    .social-header{
        margin-bottom: 20px;
    }
    .divider-full p a strong {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}